<!DOCTYPE html>
<html>
<head>
  <title>ThanziEggs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag "bootstrap" %>                                              
  <%= stylesheet_link_tag "bootstrap.min" %>                                              
  <%= stylesheet_link_tag "bootstrap-responsive" %>                                              
  <%= stylesheet_link_tag "bootstrap-responsive.min" %>                                              
  <%= stylesheet_link_tag "docs" %>                                               
  <%= stylesheet_link_tag "prettify" %>                                         
                                                                                
  <%= javascript_include_tag "jquery" %>                                              
  <%= javascript_include_tag "bootstrap-tab" %>                                   

  <%= csrf_meta_tags %>

<style>
 .navbar-fixed-top {
 }

</style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="brand-name"><a class="brand" href="/">thanzi-eggs</a></li>
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#products">Products</a></li>
              <li><a href="#contact">Contacts</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


<div class="container">
  <%= yield %>
</div>

</body>
</html>
